<?xml version='1.0' encoding='utf-8'?>
<robot name="yunyi_v1_0">
  <link name="base_link">
    <inertial>
      <origin xyz="9.31012595259529E-17 -4.15356828454864E-16 0.351044887750816" rpy="0 0 0" />
      <mass value="0.694702957982967" />
      <inertia ixx="0.0180609554822355" ixy="-1.70901617296596E-18" ixz="1.67263488115343E-18" iyy="0.0177613892835368" iyz="-3.38794114612469E-17" izz="0.000874342038440431" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="base_link_material">
        <color rgba="0.756862745098039 0.768627450980392 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="l-base-link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-base-link.STL" />
      </geometry>
      <material name="l_base_link_material">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-base-link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-base-joint" type="fixed">
    <origin xyz="0 0.0475 0.615" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="l-base-link" />
  </joint>
  <link name="l-link1">
    <inertial>
      <origin xyz="0.00274747462925445 0.0322526731703391 -0.00124058111370681" rpy="0 0 0" />
      <mass value="0.612628872562558" />
      <inertia ixx="0.000675991629583124" ixy="8.42180561013196E-09" ixz="-4.33749178612517E-07" iyy="0.000443464013577626" iyz="-3.75589885873176E-08" izz="0.000393481626554317" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link1.STL" />
      </geometry>
      <material name="l_link1_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint1" type="revolute">
    <origin xyz="4.99999999996615E-05 0.119492997382172 0.0187095589940774" rpy="0.261799387799152 0 0" />
    <parent link="l-base-link" />
    <child link="l-link1" />
    <axis xyz="0 1 0" />
    <limit lower="-2.745" upper="2.745" effort="40" velocity="16" />
  </joint>
  <link name="l-link2">
    <inertial>
      <origin xyz="0.0151683415787723 -0.0118084664996551 -0.0646524014617347" rpy="0 0 0" />
      <mass value="0.791808015126076" />
      <inertia ixx="0.000365729757645324" ixy="3.4401550972432E-07" ixz="-3.6334893034197E-08" iyy="0.000320126103367448" iyz="3.29450787874754E-07" izz="0.000323002055254654" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link2.STL" />
      </geometry>
      <material name="l_link2_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint2" type="revolute">
    <origin xyz="-5.0000000000329E-05 0.0579999999999999 0" rpy="-0.261799387799152 0 0" />
    <parent link="l-link1" />
    <child link="l-link2" />
    <axis xyz="1 0 0" />
    <limit lower="-0.3489" upper="2.2678" effort="40" velocity="16" />
  </joint>
  <link name="l-link3">
    <inertial>
      <origin xyz="0.00373447329073571 -0.0242302055769374 -0.0898395650759556" rpy="0 0 0" />
      <mass value="0.842434356423893" />
      <inertia ixx="0.00075945085050508" ixy="-4.55331742412528E-08" ixz="-2.37479824083893E-05" iyy="0.000873620695617603" iyz="1.72938628404127E-07" izz="0.000336273525464224" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link3.STL" />
      </geometry>
      <material name="l_link3_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint3" type="revolute">
    <origin xyz="0.00434139983447429 0.00799999999863457 -0.11925" rpy="0 0 0" />
    <parent link="l-link2" />
    <child link="l-link3" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.5294" upper="2.5294" effort="27" velocity="5" />
  </joint>
  <link name="l-link4">
    <inertial>
      <origin xyz="-0.00681977687417615 0.000291370140096558 -0.0324571817459631" rpy="0 0 0" />
      <mass value="0.117703346646349" />
      <inertia ixx="4.34039412925388E-05" ixy="1.09777265113083E-07" ixz="6.21718414428949E-06" iyy="5.15367325195561E-05" iyz="4.330056213507E-07" izz="2.60949506604642E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link4.STL" />
      </geometry>
      <material name="l_link4_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint4" type="revolute">
    <origin xyz="0.00719572519347152 0.000125000001366032 -0.134000000000001" rpy="0 0 0" />
    <parent link="l-link3" />
    <child link="l-link4" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.1744" upper="2.2678" effort="27" velocity="5" />
  </joint>
  <link name="l-link5">
    <inertial>
      <origin xyz="3.09329397326042E-05 0.00840471837158996 -0.0632387515751979" rpy="0 0 0" />
      <mass value="0.818152596601028" />
      <inertia ixx="0.000387196493000292" ixy="-1.57672112846699E-07" ixz="-9.40447660695902E-07" iyy="0.000444266598402289" iyz="-3.56195175154644E-08" izz="0.000267197591088817" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link5.STL" />
      </geometry>
      <material name="l_link5_material">
        <color rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint5" type="revolute">
    <origin xyz="-0.00983268534763712 0.000750000000000084 -0.059" rpy="0 0 0" />
    <parent link="l-link4" />
    <child link="l-link5" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0933" upper="2.0933" effort="7" velocity="20" />
  </joint>
  <link name="l-link6">
    <inertial>
      <origin xyz="-0.00124686281535716 -9.45680002003568E-05 1.01546292083365E-05" rpy="0 0 0" />
      <mass value="0.320964692532981" />
      <inertia ixx="0.00013839024539347" ixy="-4.91126777188069E-09" ixz="-9.55552374602084E-09" iyy="9.30413058648934E-05" iyz="-8.11389854588129E-08" izz="0.000106857256018368" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link6.STL" />
      </geometry>
      <material name="l_link6_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint6" type="revolute">
    <origin xyz="0 0 -0.155" rpy="0 0 0" />
    <parent link="l-link5" />
    <child link="l-link6" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.785" upper="0.785" effort="7" velocity="20" />
  </joint>
  <link name="l-link7">
    <inertial>
      <origin xyz="0.00744104030787132 7.51618971581158E-06 -0.0740966564505348" rpy="0 0 0" />
      <mass value="0.467084017740573" />
      <inertia ixx="0.000202637160505659" ixy="-4.07284739958631E-07" ixz="-8.11537234822024E-07" iyy="0.000128885499301811" iyz="2.34079830410316E-09" izz="0.000247135031063359" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link7.STL" />
      </geometry>
      <material name="l_link7_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint7" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="l-link6" />
    <child link="l-link7" />
    <axis xyz="1 0 0" />
    <limit lower="-1.3956" upper="1.3956" effort="7" velocity="20" />
  </joint>
  <link name="l-link8">
    <inertial>
      <origin xyz="1.39241307299358E-08 -0.0112681143652671 0.0446697879205081" rpy="0 0 0" />
      <mass value="0.0290810458194532" />
      <inertia ixx="6.73188522107296E-06" ixy="-4.25779351568306E-13" ixz="-2.49700710603352E-11" iyy="8.29422766399964E-06" iyz="-1.28958756516348E-06" izz="5.44783809815412E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link8.STL" />
      </geometry>
      <material name="l_link8_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint8" type="prismatic">
    <origin xyz="-0.00399999999999219 -0.0504999999999951 -0.178" rpy="0 0 0" />
    <parent link="l-link7" />
    <child link="l-link8" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.05" upper="0" effort="5" velocity="10" />
  </joint>
  <link name="l-link9">
    <inertial>
      <origin xyz="-1.39191651733241E-08 0.0112681143625819 0.0446697878768123" rpy="0 0 0" />
      <mass value="0.0290810458548977" />
      <inertia ixx="6.73188526230013E-06" ixy="-4.25951622526022E-13" ixz="2.49650338939657E-11" iyy="8.29422770584234E-06" iyz="1.28958756671464E-06" izz="5.44783809876879E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link9.STL" />
      </geometry>
      <material name="l_link9_material">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l-link9.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="l-joint9" type="prismatic">
    <origin xyz="-0.0039999999999937 0.050500000000005 -0.178" rpy="0 0 0" />
    <parent link="l-link7" />
    <child link="l-link9" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.05" effort="5" velocity="10" />
  </joint>
  <link name="r-base-link">
    <inertial>
      <origin xyz="7.88124794788185E-05 -0.0777607894261555 0.00785605539269001" rpy="0 0 0" />
      <mass value="0.521980069832523" />
      <inertia ixx="0.000326947403509963" ixy="-1.07398265188891E-08" ixz="2.366093123804E-09" iyy="0.000527750754905753" iyz="5.23534436425406E-05" izz="0.000369126267836075" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-base-link.STL" />
      </geometry>
      <material name="r_base_link_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-base-link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-base-joint" type="fixed">
    <origin xyz="0 -0.0475 0.615" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="r-base-link" />
  </joint>
  <link name="r-link1">
    <inertial>
      <origin xyz="0.0023086 -0.047309 -0.00070626" rpy="0 0 0" />
      <mass value="0.48001" />
      <inertia ixx="0.00052943" ixy="-9.5749E-08" ixz="1.5354E-07" iyy="0.00035158" iyz="-5.477E-06" izz="0.00031895" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link1.STL" />
      </geometry>
      <material name="r_link1_material">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint1" type="revolute">
    <origin xyz="5E-05 -0.11949 0.01871" rpy="-0.261799387799152 0 0" />
    <parent link="r-base-link" />
    <child link="r-link1" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.745" upper="2.745" effort="40" velocity="16" />
  </joint>
  <link name="r-link2">
    <inertial>
      <origin xyz="0.011672 -0.0081585 -0.073683" rpy="0 0 0" />
      <mass value="0.58736" />
      <inertia ixx="0.00025571" ixy="-1.2484E-06" ixz="-2.2208E-09" iyy="0.00023221" iyz="3.4222E-06" izz="0.00024057" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link2.STL" />
      </geometry>
      <material name="r_link2_material">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint2" type="revolute">
    <origin xyz="-5E-05 -0.058 0" rpy="0.261799387799152 0 0" />
    <parent link="r-link1" />
    <child link="r-link2" />
    <axis xyz="1 0 0" />
    <limit lower="-2.2678" upper="0.3489" effort="40" velocity="16" />
  </joint>
  <link name="r-link3">
    <inertial>
      <origin xyz="0.00475653763931137 0.000909331136429409 -0.103630304411" rpy="0 0 0" />
      <mass value="0.611557224869322" />
      <inertia ixx="0.000451307360064067" ixy="1.65228566697274E-07" ixz="-1.16041204000365E-05" iyy="0.00051510133238372" iyz="9.43935847327683E-08" izz="0.000240668338849631" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link3.STL" />
      </geometry>
      <material name="r_link3_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint3" type="revolute">
    <origin xyz="0.0043414 -0.008 -0.11925" rpy="0 0 0" />
    <parent link="r-link2" />
    <child link="r-link3" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.5294" upper="2.5294" effort="27" velocity="5" />
  </joint>
  <link name="r-link4">
    <inertial>
      <origin xyz="-0.00621157811955259 0.038997859836709 -0.0284254443400442" rpy="0 0 0" />
      <mass value="0.195867906346611" />
      <inertia ixx="7.84741501398083E-05" ixy="2.89748318044577E-13" ixz="1.24343661647735E-05" iyy="9.48662248078727E-05" iyz="3.01451928731592E-08" izz="3.62455472671027E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link4.STL" />
      </geometry>
      <material name="r_link4_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint4" type="revolute">
    <origin xyz="0.0071957 0 -0.134" rpy="0 0 0" />
    <parent link="r-link3" />
    <child link="r-link4" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.1744" upper="2.2678" effort="27" velocity="5" />
  </joint>
  <link name="r-link5">
    <inertial>
      <origin xyz="-4.05489696810846E-05 -0.000231437390733419 -0.0592754037162612" rpy="0 0 0" />
      <mass value="0.699252923462321" />
      <inertia ixx="0.000279517457503872" ixy="-6.75250011359066E-09" ixz="-3.90058392089654E-07" iyy="0.000323432935036869" iyz="-4.41063467050085E-07" izz="0.000234928631330703" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link5.STL" />
      </geometry>
      <material name="r_link5_material">
        <color rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint5" type="revolute">
    <origin xyz="-0.00983268534763703 -0.000874999999999626 -0.059" rpy="0 0 0" />
    <parent link="r-link4" />
    <child link="r-link5" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0933" upper="2.0933" effort="7" velocity="20" />
  </joint>
  <link name="r-link6">
    <inertial>
      <origin xyz="-0.00124686275519197 9.49678438605384E-05 2.53694008134353E-07" rpy="0 0 0" />
      <mass value="0.320964693534996" />
      <inertia ixx="0.000138390245498164" ixy="4.57886915220354E-09" ixz="-1.37148669611488E-09" iyy="9.30327520955922E-05" iyz="-2.58789838486845E-08" izz="0.000106865810438436" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link6.STL" />
      </geometry>
      <material name="r_link6_material">
        <color rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint6" type="revolute">
    <origin xyz="0 0 -0.155" rpy="0 0 0" />
    <parent link="r-link5" />
    <child link="r-link6" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.785" upper="0.785" effort="7" velocity="20" />
  </joint>
  <link name="r-link7">
    <inertial>
      <origin xyz="0.026443335627251 1.94494258155542E-05 -0.0780923288108855" rpy="0 0 0" />
      <mass value="0.176907351254231" />
      <inertia ixx="0.000116687724193358" ixy="-4.32903866208755E-07" ixz="-6.75113258531165E-07" iyy="4.22395260436724E-05" iyz="1.02123004005157E-09" izz="0.000131181685835972" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link7.STL" />
      </geometry>
      <material name="r_link7_material">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint7" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="r-link6" />
    <child link="r-link7" />
    <axis xyz="1 0 0" />
    <limit lower="-1.3956" upper="1.3956" effort="7" velocity="20" />
  </joint>
  <link name="r-link8">
    <inertial>
      <origin xyz="1.39255347856269E-08 -0.0112681143597648 0.0446697878295765" rpy="0 0 0" />
      <mass value="0.0290810458933222" />
      <inertia ixx="6.73188530670335E-06" ixy="-4.25728822474236E-13" ixz="-2.49714756214983E-11" iyy="8.29422775091144E-06" iyz="-1.28958756829458E-06" izz="5.44783809940117E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link8.STL" />
      </geometry>
      <material name="r_link8_material">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint8" type="prismatic">
    <origin xyz="-0.004 -0.0505 -0.178" rpy="0 0 0" />
    <parent link="r-link7" />
    <child link="r-link8" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.05" upper="0" effort="5" velocity="10" />
  </joint>
  <link name="r-link9">
    <inertial>
      <origin xyz="-1.39196650972111E-08 0.0112681143628199 0.0446697878799451" rpy="0 0 0" />
      <mass value="0.0290810458523318" />
      <inertia ixx="6.73188525937051E-06" ixy="-4.25923442889919E-13" ixz="2.49655358017073E-11" iyy="8.29422770283419E-06" iyz="1.28958756655447E-06" izz="5.44783809867387E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link9.STL" />
      </geometry>
      <material name="r_link9_material">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r-link9.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r-joint9" type="prismatic">
    <origin xyz="-0.004 0.0505 -0.178" rpy="0 0 0" />
    <parent link="r-link7" />
    <child link="r-link9" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.05" effort="5" velocity="10" />
  </joint>
</robot>
